/*
DSFM Send Coupon
*/

/*
.coupon-button {
	background-color:#b44646;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
    padding: 2px 10px;	
    color:#ffffff;
	text-decoration:none;
}

.coupon-button a{
	color:#ffffff;
	text-decoration:none;
}
*/


.coupon-button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 6px 8px 6px 8px;
    color: #333;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius: 4px;
    white-space: nowrap;
}
.coupon-button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}


#cp-offersdiv {margin:20px auto 20px auto;width:100%;max-width:490px;display:block;border: solid 1px #bbb;border-radius:8px;}

.pc-offerdiv {padding: 8px 10px 8px 10px; margin: 0;}
.pc-offerdiv:last-child {border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}

.cp-offerstitle {color:#222;padding: 4px 4px 4px 10px;margin-top:6px;margin-bottom:6px;font-size:130%;}

.cp-offerpriceline {color:#222;padding-left:10px;font-size:110%;margin-top:6px;margin-bottom:6px;text-align:center;width:100%;}
.cp-offerpricelineprice {display:inline;}
.cp-offerprice {font-size:180%; color:#0C7DBC;font-weight:bold;	vertical-align: middle;}
.cp-offeroldprice {text-decoration:line-through;}
.cp-offerpricelinebutton {display:inline;}

